/* BASE STYLE */
*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;

}

html {
    --top-spacing: 100px;
}

footer {
    border-top: 1px solid black;
    margin-top: 20px;

}

/* LINKS */
a:visited {
    color: teal;

}

/* NAV BAR */
.logo-img {
    border: black solid 7px;
    border-radius: 50%;
    width: 100px;

}

header {
    background-color: #CF87FE;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.nav-toggle {
    display: none;

}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;

}
.nav-toggle-label span::after {
    top: 7px;
}

.nav-main {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: #CF87FE;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-main ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-main li {
    margin-bottom: 1em;
    margin-left: 1em;

}

.nav-main a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    

}

.nav-main a:hover {
    color: deepskyblue;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);

}

.tagline p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
}

/* HOME PAGE */
.main-home-content {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title-home {
    text-transform: uppercase;
    font-size: 60px;
}

.home-img {
    border: #CF87FE solid 3px;
    border-radius: 5%;
    width: 100%;
    max-width: 800px;
    height: auto;

}

/* ABOUT PAGE */
.main-about-content {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-title-about{
    text-transform: uppercase;
    font-size: 60px;
}

.about-img {
    border: #CF87FE solid 3px;
    border-radius: 5%;
    width: 100%;
    max-width: 400px;
    height: auto;

}

.main-about-content p {
    font-family: Calibri, Verdana;
    font-size: larger;
    line-height: 1.3;

}

/* CONTACT PAGE */
.main-contact-content {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-img {
    border: #CF87FE solid 3px;
    border-radius: 5%;
    width: 100%;
    max-width: 400px;
    height: auto;

}

.main-title-contact {
    text-transform: uppercase;
    font-size: 60px;
}

.main-contact-content p {
    font-family: Calibri, Verdana;
    font-size: larger;
    line-height: 1.3;

}

.social-media-imgs {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

}

.facebook-logo {
    width: 50px;
    border: #CF87FE solid 3px;
    border-radius: 50%;

}

.insta-logo {
    width: 50px;
    margin-left: 3rem;
    border: #CF87FE solid 3px;
    border-radius: 50%;

}

.email-logo {
    width: 50px;
    margin-left: 3rem;
    border: #CF87FE solid 3px;
    border-radius: 50%;

}

/* STORE PAGE */


.main-title-store {
    text-transform: uppercase;
    font-size: 60px;
    padding-top: 3.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.categories {
    background-color: #CF87FE;
    text-align: center;
    position: fixed;
    z-index: 998;
    width: 100%;
    top: 200;
    display: flex;
    margin-bottom: 0;

}

.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 1.6em;

}

.categories li {
    margin-left: 7px;
    border-left: 2px solid white;
    padding-left: 3px;

}

.categories a {
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;

}

.categories a:hover {
    color: deepskyblue;

}

.main-store-content img {
    border: #CF87FE solid 3px;
    border-radius: 5%;
    width: 100%;
    max-width: 380px;
    height: auto;
    margin-top: 1rem;    

}

.category-title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.BCakes,
.CBP,
.PSC {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* CART PAGE */
.main-cart-content {
    padding-top: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}


/* MEDIA QUERY */

@media (min-width: 950px) {
   /* NAV BAR */
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo-img {
        margin-left: 8rem;
    }

    .nav-main {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    .nav-main ul {
        display: flex;

    }

    .nav-main li {
        margin-left: 4em;
        margin-bottom: 0;

    }

    .nav-main a {
        opacity: 1;

    }

    .tagline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tagline p {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: black;
        font-family: 'Lobster', cursive;
        font-size: 1.3em;
    }

    /* HOME PAGE */

    .main-home-content {
        padding-top: 5em;

    }

    .home-img {
        max-width: 600px;

    }

    /* ABOUT PAGE */
    .main-about-content {
        padding-top: 5em;
    }

    .about-img {
        max-width: 600px;

    }

    /* CONTACT PAGE */
    .main-contact-content {
        padding-top: 5em;

    }

    .contact-flex {
        display: flex;
        flex-direction: row;

    }

    .contact-flex p {
        margin-left: 5em;

    }

    .contact-img {
        max-width: 500px;
        margin-left: 1rem;

    }

    .social-media-imgs {
        right: 80%;

    }

    /* STORE PAGE */
    .categories {
        all: unset;
        background-color: #CF87FE;
        text-align: center;
        position: fixed;
        z-index: 998;
        width: 100%;
        top: 100;
        display: flex;

    }

    .BCakes, .CBP, .PSC {
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 6rem;  
    }

    .BCakes img, .CBP img, .PSC img {
        margin-left: 1em;

    }

    .category-title {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main-title-store {
        padding-top: 2.7em;

    }
    
}